
<div id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60" ui-view>
<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><span>TL</span> Tasting laboratory</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
<!-- 			<li class="scroll hvr-underline-from-center"><a href="#">Home</a></li>
 -->			<li><a class="scroll hvr-underline-from-center" href="#about">О нас</a></li>
			   	<li><a class="scroll hvr-underline-from-center" href="#service">Наш Сервис</a></li>
				<li><a class="scroll hvr-underline-from-center" href="#team">Команда</a></li>
				<li><a class="scroll hvr-underline-from-center" href="#portfolio">Галерея</a></li>
				<li><a class="hvr-underline-from-center cursor-point" data-toggle="modal" data-target="#myModal2">Войти</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<!-- /Fixed navbar -->	
<!-- /banner -->
<div class="banner">
	<div class="slider">
  <div class="slider__slide slider__slide--active" data-slide="1">
    <div class="slider__wrap">
      <div class="slider__back"></div>
    </div>
    <div class="slider__inner">
      <div class="slider__content">
        <h3>Generate Your <br> Ideas </h3><a class="go-to-next">next</a>
		
      </div>
    </div>
  </div>
  <div class="slider__slide" data-slide="2">
    <div class="slider__wrap">
      <div class="slider__back"></div>
    </div>
    <div class="slider__inner">
      <div class="slider__content">
       <h3>For Your Own  <br> Business</h3><a class="go-to-next">next</a>
	   
      </div>
    </div>
  </div>
  <div class="slider__slide" data-slide="3">
    <div class="slider__wrap">
      <div class="slider__back"></div>
    </div>
    <div class="slider__inner">
      <div class="slider__content">
        <h3>Generate Your <br> Ideas </h3><a class="go-to-next">next</a>
		
      </div>
    </div>
  </div>
  <div class="slider__indicators"></div>
		
	</div>	
</div>
<!-- //banner -->
<!-- /about -->
<div id="about" class="banner-bottom">
	<div class="container">
	    <div class="inner-w3">
		   <h3 class="title two">About us <span class="one"></span></h3>
		</div>
		<div class="adt_grids">
			<div class="col-md-5 about_left">
				<h2 class="tittle">RECOMMENDED FOR <span>YOUR</span> Business</h2>
										<h4>Lorem ipsum dolor</h4>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem  </p>
										<div class="more">
									<a href="#" class="hvr-shutter-in-vertical" data-toggle="modal" data-target="#myModal1">Read More<span class="glyphicon glyphicon-arrow-right"></span></a>
									</div>
			</div>
			<div class="col-md-7 about_right">
				<div class="creative">
					<h4>WE ARE CREATIVE</h4>
					<p>Sed ut perspiciatis unde omnis iste natus .</p>
					<div class="progress-gds">
						<h5>Doloremque / 60%</h5>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">

							</div>
						</div>
						<h5>Laudantium / 45%</h5>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
							</div>
						</div>
						<h5>Perspiciatis / 15%</h5>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 15%;">
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

	</div>
</div>
	<!-- Modal1 -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
	<div class="modal-dialog">
	<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>TASTING LABORATORY</h4>
				<img src="assets/images/g7.jpg" alt=" " class="img-responsive">
				<h5>INTEGER LOREM IPSUM DOLOR SIT AMET </h5>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,hich don't look even slightly believable..</p>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
	<div class="modal-dialog">
	<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>TASTING LABORATORY</h4>
				<div class="modal-wrapper">
					<table>
						<tr>
							<td>Логин</td>
							<td><input type="text" placeholder="Введите логин" ng-model="user.login"></td>
						</tr>
						<tr>
							<td>Пароль</td>
							<td><input type="password" placeholder="Введите пароль" ng-model="user.password"></td>
						</tr>
						<tr>
							<td></td>
							<td>{{user.error}}{{user.successful}}</td>
						</tr>
					</table>
					<button class="col-md-5 btn btn-success" ng-click="register()">Регистрация</button>
					<button class="col-md-5 btn btn-success" ng-click="login()">Войти</button>
					
				</div>
			</div>
		</div>
	</div>
</div>

<!-- //Modal1 -->

<!-- //about -->
	<!-- /services -->
	<div class="services" id="service">
		<div class="container">
			 <div class="inner-w3">
					<h3 class="title two">Наш Сервис<span></span></h3>
			 </div>
			<div class="w3_agile_grids_top">
				<div class="col-md-6 w3ls-agile-service-grid">
					<div class="agileits-icon-grid">
						<div class="icon-left">
							<i class="fa fa-comment-o" aria-hidden="true"></i>
						</div>
						<div class="icon-right">
							<h5>Friendly Support</h5>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-6 w3ls-agile-service-grid">
					<div class="agileits-icon-grid">
						<div class="icon-left">
							<i class="fa fa-laptop" aria-hidden="true"></i>
						</div>
						<div class="icon-right">
							<h5>Современные технологии</h5>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-6 w3ls-agile-service-grid">
					<div class="agileits-icon-grid">
						<div class="icon-left">
							<i class="fa fa-eye" aria-hidden="true"></i>
						</div>
						<div class="icon-right">
							<h5>Трансляции в режиме онлайн</h5>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-6 w3ls-agile-service-grid">
					<div class="agileits-icon-grid">
						<div class="icon-left">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						</div>
						<div class="icon-right">
							<h5>что-то классное</h5>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //services -->

<!--//team -->
<div id="team" class="team">
		   <div class="container">
			<div class="inner-w3">
					<h3 class="title">Наша команда <span></span></h3>
				</div>
			     <div class="staff-section">
				    <div class="col-md-3 staff-grid">
				          <div class="view fifth-effect">
							 <a href="index.html" title="Full Image"><img src="assets/images/t1.jpg" alt=""/></a>
							 <div class="mask"></div>
						  </div>
							<h4>Rodney</h4>
						  <p>Nam libero tempore cum soluta nobis est eligendi impedit.</p>
							<ul class="social-icons3">
								<li><a href="#" class="fa fa-facebook icon-border facebook"> </a></li>
								<li><a href="#" class="fa fa-twitter icon-border twitter"> </a></li>
								<li><a href="#" class="fa fa-google-plus icon-border googleplus"> </a></li> 
								<li><a href="#" class="fa fa-rss icon-border rss"> </a></li>

							</ul>						  
				     </div>
					  <div class="col-md-3 staff-grid">
				         <div class="view fifth-effect">
							 <a href="index.html" title="Full Image"><img src="assets/images/t2.jpg" alt=""/></a>
							 <div class="mask"></div>
						</div>  
						<h4>Joseph</h4>
						  <p>Nam libero tempore cum soluta nobis est eligendi impedit.</p>
							<ul class="social-icons3">
								<li><a href="#" class="fa fa-facebook icon-border facebook"> </a></li>
								<li><a href="#" class="fa fa-twitter icon-border twitter"> </a></li>
								<li><a href="#" class="fa fa-google-plus icon-border googleplus"> </a></li> 
								<li><a href="#" class="fa fa-rss icon-border rss"> </a></li>

							</ul>						
				     </div>
					 <div class="col-md-3 staff-grid">
				          <div class="view fifth-effect">
							 <a href="index.html" title="Full Image"><img src="assets/images/t3.jpg" alt=""/></a>
							 <div class="mask"></div>
						  </div>
						  <h4>Ken Burns</h4>
						  <p>Nam libero tempore cum soluta nobis est eligendi impedit.</p>
							<ul class="social-icons3">
								<li><a href="#" class="fa fa-facebook icon-border facebook"> </a></li>
								<li><a href="#" class="fa fa-twitter icon-border twitter"> </a></li>
								<li><a href="#" class="fa fa-google-plus icon-border googleplus"> </a></li> 
								<li><a href="#" class="fa fa-rss icon-border rss"> </a></li>

							</ul>		
						  
				     </div>
					  <div class="col-md-3 staff-grid">
				          <div class="view fifth-effect">
							 <a href="index.html" title="Full Image"><img src="assets/images/t4.jpg" alt=""/></a>
							 <div class="mask"></div>
						  </div>
							<h4>John Rodney</h4>
						  <p>Nam libero tempore cum soluta nobis est eligendi impedit.</p>
							<ul class="social-icons3">
								<li><a href="#" class="fa fa-facebook icon-border facebook"> </a></li>
								<li><a href="#" class="fa fa-twitter icon-border twitter"> </a></li>
								<li><a href="#" class="fa fa-google-plus icon-border googleplus"> </a></li> 
								<li><a href="#" class="fa fa-rss icon-border rss"> </a></li>

							</ul>							  
				     </div>
					   <div class="clearfix"></div>
				 </div>
	      </div>
	</div>
<!--//team -->
<!-- /property-grids -->
<div class="property-grids">
     <div class="col-md-6 home-agile-left">
			<div class="video-grid-single-page-agileits">
				<div data-video="-2m6JkJvv4w" id="video"> <img src="assets/images/video.jpg" alt="" class="img-responsive" /> </div>
			</div>
	

	</div>
	<div class="col-md-6 home-agile-text">
	
	            <h4>Creative Concepts</h4>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem  </p>
										<div class="more">
									<a href="#" class="hvr-shutter-in-vertical" data-toggle="modal" data-target="#myModal1">Read More<span class="glyphicon glyphicon-arrow-right"></span></a>
									</div>
	</div>	
		<div class="clearfix"></div>	
</div>
<!-- //property-grids -->

	<!-- portfolio -->
	<div id="portfolio" class="portfolio">
		<div class="container">
			<div class="inner-w3">
					<h3 class="title">Галерея<span></span></h3>
				</div>
			<div class="w3_agile_grids_top">			
									<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="assets/images/g8.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
									<img src="assets/images/g3.jpg" alt="" />
									<figcaption>
										<p>Tasting laboratory</p>
									</figcaption>	
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="assets/images/g2.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
									<img src="assets/images/g2.jpg" alt="" />
									<figcaption>
										<p>Tasting laboratory</p>
									</figcaption>	
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="assets/images/g7.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
									<img src="assets/images/g8.jpg" alt="" />
									<figcaption>
										<p>Tasting laboratory</p>
									</figcaption>		
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="assets/images/g4.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
									<img src="assets/images/g4.jpg" alt="" />
									<figcaption>
										<p>Tasting laboratory</p>
									</figcaption>	
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="assets/images/g5.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
									<img src="assets/images/g5.jpg" alt="" />
									<figcaption>
										<p>Tasting laboratory</p>
									</figcaption>	
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="assets/images/g6.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
									<img src="assets/images/g6.jpg" alt="" />
									<figcaption>
										<p>Tasting laboratory</p>
									</figcaption>		
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="assets/images/g7.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
									<img src="assets/images/g7.jpg" alt="" />
									<figcaption>
										<p>Tasting laboratory</p>
									</figcaption>	
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="assets/images/g2.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
									<img src="assets/images/g9.jpg" alt="" />
									<figcaption>
										<p>Tasting laboratory</p>
									</figcaption>	
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="assets/images/g3.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
									<img src="assets/images/g1.jpg" alt="" />
									<figcaption>
									<p>Tasting laboratory</p>
									</figcaption>		
								</a>
							</figure>
						</div>
					</div>
					<div class="clearfix"> </div>
					
			</div>
			</div>
		
		</div>
	<!-- //portfolio -->
<!--/reviews-->
	<div id="test-monials" class="reviews">
		<div class="container">
	<div class="inner-w3">
					<h3 class="title two">Отзывы<span></span></h3>
				</div>
			<div class="w3_agile_grids_top">		
		<div class="col-md-6 w3_about_grid_left">
					<h6>Integer Lorem ipsum dolor sit amet </h6>
					<p>Suspendisse ornare sed purus a imperdiet. Integer viverra nisi orci, 
						in volutpat leo ornare vitae. Nulla faucibus, arcu at consequat vulputate, 
						turpis metus blandit urna.</p>
					<div class="panel-group about_panel" id="accordion" role="tablist" aria-multiselectable="true">
					  <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
						  <h4 class="panel-title asd">
							<a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>assumenda est cliche voluptate
							</a>
						  </h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						  <div class="panel-body panel_text">
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						  </div>
						</div>
					  </div>
					  <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
						  <h4 class="panel-title asd">
							<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Itaque earum rerum
							</a>
						  </h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						   <div class="panel-body panel_text">
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						  </div>
						</div>
					  </div>
					  <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
						  <h4 class="panel-title asd">
							<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>autem accusamus terry qui
							</a>
						  </h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						   <div class="panel-body panel_text">
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						  </div>
						</div>
					  </div>

					</div>
				</div>

				<div class="col-md-6 test-monials">
				<!--//screen-gallery-->
						<div class="sreen-gallery-cursual">
							
						       <div id="owl-demo" class="owl-carousel">
					                 <div class="item-owl">
					                	<div class="test-review">
										<p><i class="fa fa-quote-left" aria-hidden="true"></i> Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.<i class="fa fa-quote-right" aria-hidden="true"></i> </p>
											<div class="img-agile">
												<img src="assets/images/c1.png" class="img-responsive" alt=""/>
											</div>
											  <h6>Michael Paul</h6>
					                	    </div>
					                </div>
					                 <div class="item-owl">
					                	<div class="test-review">
										 <p> <i class="fa fa-quote-left" aria-hidden="true"></i> Polite sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.<i class="fa fa-quote-right" aria-hidden="true"></i> </p>
						                	<div class="img-agile">
											<img src="assets/images/c2.png" class="img-responsive" alt=""/>
											</div>
											<h6>Riya Allen</h6>
					                	</div>
					                </div>
					                 <div class="item-owl">
					                	<div class="test-review">
										     <p><i class="fa fa-quote-left" aria-hidden="true"></i> Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.<i class="fa fa-quote-right" aria-hidden="true"></i> </p>
						                	<div class="img-agile">
											<img src="assets/images/c1.png" class="img-responsive" alt=""/>
											</div>
											<h6>Michael Paul</h6>
					                	</div>
					                </div>
				              </div>
						<!--//screen-gallery-->
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!--//reviews-->
<!-- footer -->
	<div class="footer_w3l_agile_info">
		<div class="container">
			<div class="col-md-4 agile_footer_grid">
				<h3>About Us</h3>
				<p>Nam libero tempore cum vulputate id est id, pretium semper enim. Morbi viverra 
					congue nisi vel pulvinar posuere sapien eros.</p>
				<ul class="social-icons3 two">
								<li><a href="#" class="fa fa-facebook icon-border facebook"> </a></li>
								<li><a href="#" class="fa fa-twitter icon-border twitter"> </a></li>
								<li><a href="#" class="fa fa-google-plus icon-border googleplus"> </a></li> 
								<li><a href="#" class="fa fa-rss icon-border rss"> </a></li>

							</ul>
			</div>
			<div class="col-md-6 agile_footer_grid">
				<h3>Contact Info</h3>
				<ul class="w3_address">
					<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Онапт, <span>Одесса</span></li>
					<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
					<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+380000000000</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
			<div class="w3_agileits_footer_grids">
				
			</div>
			<div class="agileinfo_copyright">
				<p>By ...</p>
			</div>
		</div>
	</div>
<!-- //footer -->
<a href="#myPage" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

<!-- js files -->
<!-- js files  -->
<!-- /js files -->



</div>