.cursor-point {
	cursor: pointer;
}
.modal-wrapper {
	width: 270px;
	margin: 0 auto;
	table {
		tr {
			td {
				padding-left: 13px;
				padding-top: 15px;
			}
		}
	}
	button {
		margin: 10px;
		margin-top: 40px;
	}
}
